doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title 
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/vendor/font-awesome.css")
    link(rel="stylesheet", href="css/main.css")
  body
    h1 Init
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quam animi culpa harum mollitia esse sed, quas fugiat, a impedit aliquam distinctio rerum autem, non. Eligendi placeat doloremque unde dolorum!
    script(src="js/vendor/jquery.js")
    script(src="js/main.js")
